.horizontal-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 10px auto;
    width: 70%;
    height: 10vh;
    /* margin: 10px; */
    font-weight: 600;
    border: 2px solid black;
    transition: transform 0.3s;
    border-radius: 13px;
    box-shadow: 2px 5px;
  }
  
  .horizontal-box:hover {
    transform: scale(1.01);
    cursor: pointer;
    /* background-color: rgb(235, 192, 235); */
    /* color: white; */

    border: 2px solid ;

  }
  
  .box-name {
    margin-left: 10px;
  }
  
  .chat-icon {
    scale: 1.2;
    margin-right: 10px;
   
  }
  .chat-icon:hover{
  color: purple;
  }

  .users{
    margin-top: 78px;
    background-color: rgb(219, 218, 218);

  }